/* Add your CSS to this file */

/* ------------------------------------------------------- */
/* GLOBAL STYLES */
/* ------------------------------------------------------- */
body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
                 "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

section {
    padding: 70px 0;
}

/* ------------------------------------------------------- */
/* HEADER */
/* ------------------------------------------------------- */
header {
    background: white;
    font-size: 18px;
    padding: 25px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 20px;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #6B7280;
    font-weight: bold;
}

nav a:hover {
    color: #5A67D8;
}

/* ------------------------------------------------------- */
/* HERO */
/* ------------------------------------------------------- */
.overview-hero {
    background: #E2E8F0;
}

.overview-hero .container {
    display: flex;
    gap: 60px;
}

.overview-hero-image img {
    width: 380px;
    max-width: 100%;
}

.overview-hero-text h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

/* ------------------------------------------------------- */
/* LEARN ABOUT */
/* ------------------------------------------------------- */
.learn-about {
    padding-top: 0px;
    padding-bottom: 50px;
}
.learn-about h2 {
    font-size: 26px;
    color: #48BB78;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #E2E8F0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card img {
    align-self: center;
    width:auto;
    height: 180px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.card h3 {
    color: #48BB78;
    font-size: 21px;
    margin: 20px;
}

.card p {
    margin: 20px;
}

/* ------------------------------------------------------- */
/* TESTING SECTION */
/* ------------------------------------------------------- */
.testing {
    background: #4A5568;
    color: white;
    padding: 100px 0;
}

.testing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.testing a.btn {
    background: #48BB78;
    color: white;
    padding: 15px 35px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;  
    display: inline-block;
}

/* ------------------------------------------------------- */
/* STORIES */
/* ------------------------------------------------------- */
.stories {
    padding-top: 100px;
    padding-bottom: 50px;
}
.stories h2 {
    color: #5A67D8;
    margin-bottom: 40px;
}

.stories article {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.stories img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
}

.stories h3 {
    font-size: 18px;
}

.stories a {
    color: #5A67D8;
    text-decoration: none;
    font-weight: bold;
}

/* ------------------------------------------------------- */
/* NEWSLETTER */
/* ------------------------------------------------------- */
.newsletter {
    background: #48BB78;
    color: white;
    text-align: center;
    padding: 30px 0;
}

.newsletter form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.newsletter p {
    max-width: 450px;
    margin: 0 auto;
}

.newsletter input {
    padding: 12px;
    width: 300px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.newsletter button {
    padding: 12px 24px;
    background: #5A67D8;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer
}

.message {
    margin-top: 20px;
    font-weight: bold;
}

/* ------------------------------------------------------- */
/* FOOTER */
/* ------------------------------------------------------- */
footer {
    background: #4A5568;
    color: white;
    text-align: left;
    padding: 25px 0;
}